
@model IEnumerable<TennisLadder.Models.Participant>

@{
    ViewData["Title"] = "Index";
}



<h1>Home</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <h5>Pick your Name</h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Ranks" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}

    </tbody>
</table>
<p>
     <a asp-controller="Participants" asp-action="Create">Create New User</a>
</p>
