html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background-image: url('images/tennis.jpg');
    background-repeat: repeat-x, repeat;
    background-size: 100%, 10%;
    background-attachment: fixed;
}


body {
    margin-bottom: 60px;
    background-image: url('images/tennis.jpg');
    background-repeat: repeat-x, repeat;
    background-size: 100%, 10%;
    background-attachment: fixed;
}


header {
    background-color: white;
}

main {
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

footer {
    color: white;
}